<launch>
        <machine name="jetson-nano" address="192.168.0.23" user="dlinano" password="" env-loader="/opt/ros/melodic/env.sh"/>
        <!-- low level odom,imu,battery info -->
	<arg name="server" default="localhost"/>
	<arg name="ns" default="odom"/>
	<arg name="device" default="/dev/ttyTHS1"/>
	<arg name="baudrate"  default="460800"/>
	<group ns="$(arg ns)">
		<node pkg="odom" name="odom" type="node" output="screen" >
			<param name="ns" type="string" value="$(arg ns)"/>
			<param name="device" type="string" value="$(arg device)"/>
			<param name="baudrate"  type="int" value="$(arg baudrate)"/>
		</node>
 	</group>

	<!-- tf from base link to base imu link -->
        <node machine="jetson-nano" name="base_imu_link" pkg="tf" type="static_transform_publisher" args="-0.03 0 0 0 0 0 /base_link /base_imu_link 50"/>

        <!-- odom & imu ekf -->
	<node machine="jetson-nano" name="robot_pose_ekf" pkg="robot_pose_ekf" type="robot_pose_ekf" output="screen">
		<param name="output_frame" value="odom"/>
		<param name="base_footprint_frame" value="base_link"/>
		<param name="freq" value="20.0"/>
		<param name="sensor_timeout" value="1.0"/>
		<param name="odom_used" value="true"/>
		<param name="imu_used" value="true"/>
		<param name="vo_used" value="false"/>
	</node>

        <!-- convert from geometry_msg PoseWithCovarianceStamped to nav_msg Odometry -->
        <node machine="jetson-nano" name="odom_ekf" pkg="odom" type="odom_ekf.py" output="screen">
   		<remap from="input" to="/robot_pose_ekf/odom_combined"/>
   		<remap from="output" to="/odom_ekf"/>
        </node>
</launch>
